html{
  height: 100%;
}

body {
  height: 100%;
  /*additonal components for scrollspy to work on navigation*/
  position: relative;
  overflow-y: scroll;
}

/*coming soon section*/
.comingsoon {
  width: 100%;
  height:100%;
  background: url(../img/hero_bg.jpg) center center no-repeat;
  background-size: cover;
}

.comingsoon > .row >h1,h2,h4{
  color: white;
}

.comingsoon > .btn-group >button{

}

.btn-primary-outline {
  background-color: transparent;
  border-color: white;
  color: white;
}

/*navigation*/
nav{

}

/*relative navigation - keeps the navbar on top while you scroll the page*/
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.navLink{
	color: white; /*font color is white for the hyperlinks*/
}

/*colors for the different sections */
#about {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#vision {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#objectives {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#benefits2column {padding-bottom:50px;color: #fff; background-color: #1E88E5;}
#benefits1 {height:500px;color: #fff; background-color: #00bcd4;}
#benefits2 {height:500px;color: #fff; background-color: #009688;}
#milestones {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#support {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#contact {padding-top:50px;height:700px;color: #fff; background-color: #ff9800;}
#footer{padding-top:50px;color: #fff; background-color: black;}
/*contact section*/
.display-none {
  display: none;
}